.logo {
  height: 12em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(119, 66, 250, 0.67));
}

.section-nav{
    margin-right: 1rem;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: white;
    border: 2px solid #555;
    display: flex;
    flex-direction: row;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    margin: 0;
}

.App-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 0;
    overflow: hidden;
    min-height: 80vh;

    width: 100%;
    max-width: 2200px;
}

.server-screenshot {
    flex: 0 0 auto;
    max-width: 800px;
    border-radius: 16px;
    overflow: hidden;
    margin-right: auto;
}

.server-screenshot img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    display: block;
}

.App-content.purple{
    background-color: #5727a6;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2em;
}

.subscript {
  color: #888;
}
